* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.pop {
    width: 45%;
    height: 70vh;
    background-image: url("./img/sky.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    /* animation: pulsate 1.5s infinite alternate;   */
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .1rem #fff,
              0 0 1.9rem #5766f1,
              0 0 0.6rem #5766f1,
              0 0 2.5rem #5766f1,
              inset 0 0 1rem #5766f1; 
  }

.pop h1 {
    color: white;
    margin-top: 40px;
    text-transform: capitalize;
    box-shadow: none;
    animation: n;
}

.pop img {
    width: 250px;
    height: 200px;
    transition: 5ms;
    cursor: pointer;
    animation: 0.5s linear 0s infinite alternate hello;
    
}
@keyframes hello {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
.pop p {
    color: white ;
    font-size: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
}
.pop button {
    background-color: #011b36;
    padding: 5px 25px 5px 25px ;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
    margin-top: 30px;
    opacity: 0.9;
    box-shadow: 0 0 .2rem #fff,
              0 0 .1rem #fff,
              0 0 1.9rem rgb(73, 141, 231),
              0 0 0.6rem rgb(73, 141, 231),
              0 0 2.5rem rgb(73, 141, 231),
              inset 0 0 1rem rgb(73, 141, 231); 
}
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5766f1,
        0 0 80px #5766f1,
        /* 0 0 90px #5766f1,
        0 0 100px #5766f1,
        0 0 150px #5766f1;
     */
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #5766f1,
      0 0 45px #5766f1,
       0 0 55px #5766f1,
      0 0 70px #5766f1,
      0 0 80px #5766f1; 
  
  }
}